#tuple

In [4]:
items = (23,67,'apple','banana','True',45.3)
print(items)

(23, 67, 'apple', 'banana', 'True', 45.3)

#set

In [7]:
items = {23,67,'apple','banana',True,45.3,43.3}
print(items)

{'banana', True, 67, 'apple', 23, 43.3, 45.3}

#dictionary

In [8]:
student = {
    "name" : "jhon",
    "age" :"23",
    "gender" : "male",
    "address" : "123 main st"
    }
print(student)

{'name': 'jhon', 'age': '23', 'gender': 'male', 'address': '123 main st'}

#list

In [9]:
items = ["sana",28,2.5,"saumya"]
print(items)

['sana', 28, 2.5, 'saumya']

In [10]:
a = 243.678
type(a)

float

There are two ways to take input
- Direct assigning value in a variable
- Taking input from the user

In [12]:
a = input("enter a number")
print(a)

19

In [17]:
a = int(input("enter a number"))
print(a)

6

In [18]:
type(a)

int

In [2]:
a = input("enter a number")
b = input("enter a another number")
a1 = int('enter a number')
b1 = int('enter a another number')
print(a1)

ValueError: invalid literal for int() with base 10: 'enter a number'