In [1]:
fruits = ['orange','apple','pear','banana']
for x in fruits:
    print(x)

orange
apple
pear
banana

In [5]:
name = "Sana Bano"
for char in name:
    print(char, end="😍")

S😍a😍n😍a😍 😍B😍a😍n😍o😍

In [19]:
for i in range(10):
    print("sana")

sana
sana
sana
sana
sana
sana
sana
sana
sana
sana

In [20]:
i = 0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

In [20]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [21]:
for i in range(5,11):
    for j in range(1,11):
        print(i, "x", j, "=", i*j)
    print("\n")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [23]:
i = 0
while i<=10:
    print("sana")
    i+=1

sana
sana
sana
sana
sana
sana
sana
sana
sana
sana
sana

In [28]:
i=1
while i<=10:
    print(i*15)
    i+=1

15
30
45
60
75
90
105
120
135
150

In [30]:
i=2
while i<=20:
    if i%2==0:
        print(i)
        i+=2

2
4
6
8
10
12
14
16
18
20

In [ ]:
i=1
while i<=20:
    if i%2==0:
        print(i)
        i+=2

break and continue

In [33]:
fruits = ['orange','apple','mango','pear','ladyfinger','kiwi','grapes']
for x in fruits:
    if x == 'ladyfinger':
        break
    print(x)

orange
apple
mango
pear

In [35]:
fruits = ['orange','apple','ladyfinger','kiwi','banana']
for x in fruits:
    if x == 'ladyfinger':
        continue
    print(x)

orange
apple
kiwi
banana

indexing

In [37]:
apps = ['candycrush','purpleplace','snapchat','instagram','facebook','bubbleshooter','telegram','truecaller']
print(apps[4])

facebook