In [5]:
student={
    "name":"sana",
    "age":20,
    "city":"lucknow",
    "marks": 60,
    "roll no": 12,
    "class":"physics"
}
print(student)

{'name': 'sana', 'age': 20, 'city': 'lucknow', 'marks': 60, 'roll no': 12, 'class': 'physics'}

- how to declare it
- how to access key and values of a dictionary
- how to use loops in dictionary
- indexing in dictionary

In [2]:


print(temp)

print('average temperature of delhi is :', sum(temp['delhi'])/len(temp['delhi']))

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'mumbai': [35, 40, 45]}
average temperature of delhi is : 35.0

In [7]:
info=dict(name="sana",age=20,marks=60,city="lucknow")
print(info)

{'name': 'sana', 'age': 20, 'marks': 60, 'city': 'lucknow'}

In [8]:
info2=dict(name=input("enter a name",),age=int(input("enter a age:")),rollno=int(input("enter a roll no:")),marks=int(input("enter a marks:")))
print(info2)

{'name': 'sana', 'age': 20, 'rollno': 22, 'marks': 60}

In [9]:
#1st method to access value through its key
print(info2['name'])
print(info2['age'])

sana
20

In [10]:
#2nd method to access value through its key
print(info2.get('name'))
print(info2.get('age'))

sana
20

In [11]:
#to add items in a dictionary
student['city'] = 'lucknow'
print(student)

{'name': 'sana', 'age': 20, 'city': 'lucknow', 'marks': 60, 'roll no': 12, 'class': 'physics'}

In [12]:
print(student.keys())
print(student.values())

dict_keys(['name', 'age', 'city', 'marks', 'roll no', 'class'])
dict_values(['sana', 20, 'lucknow', 60, 12, 'physics'])

In [13]:
for k in student:
    print(k)

name
age
city
marks
roll no
class

In [16]:
for k,v in student.items():
    print(k,v)

name sana
age 20
city lucknow
marks 60
roll no 12
class physics

In [1]:
company={
    "emp001":{
        "name":"sana",
        "age":20,
        "dept":"HR"
    },
    "emp002":{
        "name":"sajiya",
        "age":23,
        "dept":"manager"
    },
    "emp003":{
        "name":"saba",
        "age":24,
        "dept":"depty manager"
    },
    
}
print(company)

{'emp001': {'name': 'sana', 'age': 20, 'dept': 'HR'}, 'emp002': {'name': 'sajiya', 'age': 23, 'dept': 'manager'}, 'emp003': {'name': 'saba', 'age': 24, 'dept': 'depty manager'}}